{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="starter-template">
    <h1 class="display-1">Pet Shop SON</h1>
    <p class="lead">Avançando com Symfony 4 - Indo mais fundo com Doctrine</p>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-stripped">
            {% for qts in qts_animais %}
            <tr>
                <th>{{ qts.nome }}</th>
                <td>{{ qts.qtde }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-stripped">
            {% for qts in qtde_por_raca %}
            <tr>
                <th>{{ qts.nome }}</th>
                <td>{{ qts.qtde }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}